<div class="card mt-3">
  <h3 class="card-header">Użytkownik:</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item mt-2">Imię:   <%= user.fName %></li>
    <li class="list-group-item mt-2">Nazwisko:   <%= user.lName %></li>
    <li class="list-group-item mt-2">Login:   <%= user.login %></li>
    <li class="list-group-item mt-2">Rola:   <%= user.role %></li>
    <li class="list-group-item mt-2">Email:   <%= user.email %></li>
    <li class="list-group-item mt-2">Adres:   <%= user.address %></li>
  </ul>
</div>